/* .landingContainer {
    padding: 100px 150px;
  } */

/* .estrellas {
  background-image: url('./assets/las_estrellas.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
} */